<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cuisine</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}" />
  </head>

  <body>
    <h1>Cuisine</h1>
    {% for cuisine in cuisines %}
    <div class="card" style="width: 18rem; align-items: center;">
        <div class="card-body">
            <a href="{% url 'display' cuisine_id=cuisine.id%}"><h1 class="card-title">{{cuisine.name}}</h1></a>
            <button class="btn btn-primary btn-block">Edit</button>
            <button class="btn btn-danger btn-block">Delete</button>
            <a href="{% url 'insert' cuisine_id=cuisine.id %}" class="btn btn-primary btn-block">Inser Dish</a>
        </div>
    </div>
    {% endfor%}    
    <center><a href="/cuisine" class="btn btn-primary">Add Cuisine</a></center>
  </body>
</html>
